[Unit]
Description=Minecraft Service2
After=rc-local.service
[Service]
WorkingDirectory=/srv/minecraft_server2
ExecStart=/usr/bin/java -Xms1g -Xmx2g -jar /srv/minecraft_server2/server.jar nogui
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
Alias=minecraft-server2.service
